<!DOCTYPE html>
	<html>
	<head>
		<title>MusiSync</title>
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
	</head>
	<body>
		<h1>MusiSync Server</h1>

		<h2>All Musics</h2>
		<div id="music-list"></div>

		<h2>Queue</h2>
		<span>Now Playing:</span>
		<span id="now-playing">Nothing</span>
		<div id="queue-list"></div>
		<div id="controlbox">
			<button onclick="play()" id="play-next">Play Next</button>
			<button onclick="pause()" id="pause">Pause</button>
		</div>
		<label>
			<input type="checkbox" id="autoplay-toggle" checked>
			Autoplay next song
		</label>

		<script src="{{ url_for('static', filename='script.js') }}"></script>
	</body>
	</html>
